<form action="/users/add" method="post">
    <input name="nome"/>
    <label>Nome</label>
    <input name="email" type="email"/>
    <label>Email</label>
    <input name="senha" type="password"/>
    <input type="submit" value="Enviar"/>
</form>
